body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100%;
}

.circle,
#circle {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pulse {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: lightseagreen;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(32, 178, 170, .7), 0 0 0 0 rgba(32, 178, 170, .7);
    }
    30% {
        box-shadow: 0 0 0 30px rgba(32, 178, 170, 0), 0 0 0 0 rgba(32, 178, 170, .7);
    }
    75% {
        box-shadow: 0 0 0 30px rgba(32, 178, 170, 0), 0 0 0 30px rgba(32, 178, 170, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(32, 178, 170, 0), 0 0 0 30px rgba(32, 178, 170, 0);
    }
}

#pulse {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: lightseagreen;
}

#bubble {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.bubble {
    position: absolute;
}