#matrix,
#matabs {
    background: lightyellow; 
    width: 300px;
    height: 300px;
    display: block;
    float: left;
    position: relative;
}

#matrix div {
    float: left;
}

#matrix {
    margin-right: 30px;
}

.culoareRosie {
    background: red;
}

.culoareVerde {
    background: green;
}

.culoareBlue {
    background: blue;
}

.culoareDefault {
    background: lightblue;
}